@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400);

body {
  font-family: 'Noto Sans', serif;
}

a {
    text-decoration: none;
}

#adam {
  min-height: 100%;
  background-size: cover;
  background-image:url('../img/bg.jpg');
}

#nav-bar {
  background-color: rgb(255,255,255);
  box-shadow: 0px 0px 10px 1px rgb(100,91,111);
}

#nav-bar a{
  color:rgb(0,0,0);
}

#nav-bar a:hover{
  color:rgb(255,0,0);
}

#nav-bar ul{
  margin-left: 20%;
  padding:10 0 10 0;
  width:auto;
  list-style: none;
}

#nav-bar li{

  margin-left:15px;
  padding:0;
  display: inline;
}

#lightbox{
  background-color: white;
  text-align: center;

  width:350px;
  height:100px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0px 20px 0px;

  border-radius: 3px;
  box-shadow: 0px 0px 100px 10px #FFF;


}

#name {
  display: block;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 40px;
  color:rgb(0,0,0);
  line-height: 1.5em;
}

#subtext{

  font-size: 20px;
  color:rgb(100,100,100);

}

