@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
  font-family: 'Noto Sans', serif;
}

a {
    text-decoration: none;
    color: #616161;
}

a:hover {
    text-decoration: underline;
     color:red;
}

p {
  font-size: 20px;
  line-height: 1.15em;
  padding: 10 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 40px;
}

h2 {
  font-family: 'Noto Serif', serif;
  font-size: 30px;

}

#background {
  position: absolute;
  height:auto;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(120,105,120);
  background-size: cover;
  background-image:url('../img/bg.jpg');
  background-position:center;
}

/* nav stuff */

#nav-bar {
  background-color: rgb(255,255,255);
  box-shadow: 0px 0px 10px 1px rgb(100,91,111);
}

#nav-bar a{
  color: black;
}

#nav-bar a:hover{
  color:red;
}

#nav-bar ul{
  margin-left: 15%;
  padding: 10px 0px 10px 0px;
  width:auto;
  list-style: none;
}

#nav-bar li{

  margin-left:15px;
  padding:0;
  display: inline;
}


#nav-name {
  font-weight: bold;
}


#about-nav{
  white-space: nowrap;
  list-style:circle;
  font-size: 1.3em;
  margin: 10 0 0 0;
  padding: 10px;
  padding-right: 30px;
  background-color: #f9f9f9;
  display: inline-block;
  border: 2px solid #aaa;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#about-nav li{
  line-height: 1.3em;
}

#about-nav a{
  color:black;
}

/* Box to put name in */

.lightbox{
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  line-height: 1em;
  padding: 0px 0px 20px 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 100px 10px #FFF;
}

#lightbox-home {
  text-align: center;
  padding: 20px 0px 20px 0px;
  width:350px;
  height:100px;
  margin-top: 200px;

}

#lightbox-about {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width:75%;
  height:auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-section {
  padding: 10 0 10 0;
}

.about-section li{
  font-size: 18px;
  line-height: 1em;
  padding: 3 0 3 0;
}

#name {
  display: block;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 40px;
  color:rgb(0,0,0);
  line-height: 1.5em;
}

#subtext{

  font-size: 20px;
  color:rgb(100,100,100);
}

/* Paper */

#paper {
  position: relative;
  display: block;
  background-color: white;
  width: 75%;
  min-height:100%;
  margin: 0 auto 0 auto;
}

